
h1 {
    font-family: 'Quicksand', sans-serif;
}

.form-signup {
    background-color: white;
    margin: auto;
    width: 25%;
    padding: 0px;
}


.con-signup {
    padding: 30px;
    display: none;
}

.con-signin {
    padding: 30px;
}


.button-l {
    width: 100%;
    text-align: left;
    background-color:whitesmoke;
    border-bottom: solid lightslategray 1px;
}

.button-s {
    width: 100%;
    text-align: left;
    background-color: whitesmoke;
}