h1 {
    font-family: 'Quicksand', sans-serif;
}

.form-signup {
    background-color: white;
    margin: auto;
    width: 25%;
    padding: 0px;
}



.con-signout {
    padding: 20px;
    display: none;
    margin-left: 10px;
    margin-right: 10px;
    
}

.button-o {
    width: 100%;
    text-align: left;
    background-color:whitesmoke;
  /*  border-bottom: solid lightslategray 1px; */
}

/*-------------------------*/
.con-main{
    background-color: #eee; 
    text-align: center;
    width: 40%;
    margin: auto;
    
    
    
    
}

.input-group {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    
   
}


.button-rm {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*----------------------------------*/
