h1 {
    font-family: 'Quicksand', sans-serif;
}

.form-signup {
    background-color: white;
    margin: auto;
    width: 25%;
    padding: 0px;
}

.con-signout {
    padding: 30px;
    display: none;
}

.button-o {
    width: 100%;
    text-align: left;
    background-color:whitesmoke;
  /*  border-bottom: solid lightslategray 1px; */
}
